[submodule "fonctions/jvaisVX"]
	path = fonctions/jvaisVX
	url = https://github.com/caimez323/jvaisVX
[submodule "fonctions/snifsnouf"]
	path = fonctions/snifsnouf
	url = https://github.com/caimez323/snifsnouf/
